<div class="p-3 m-0">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        [formControl]="form.controls.email"
      >
      <div class="invalid-feedback">
        email is required
        email is not correct
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        [formControl]="form.controls.password"
      >
      <div class="invalid-feedback">
        the minimum length of password should be 6
      </div>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
        [formControl]="form.controls.address"
      >
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">City</label>
      <select id="inputCity" class="form-select" [formControl]="form.controls.city">
        <option selected>Choose...</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" [formControl]="form.controls.zip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" [formControl]="form.controls.checkMeOut">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
